/.vscode
/private/futuro
/sql/datos_pruebas.sql
/src/tests/Lista_usuarios_reicom.xlsx
/src/tests/Ejemplo_alumnos_csv.xlsx
/docs
/private/ejemplos/Ejemplo_alumnos_csv.xlsx
/private/ejemplos/Lista_usuarios_reicom.xlsx